@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-background: #ffffff;
  --color-foreground: #09090b;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

.dark {
  background-color: #09090b;
  color: white;
}

body {
  margin: 0;
  overflow: hidden;
}

/* Fix for Leaflet controls being hidden behind our UI */
.leaflet-control-container {
  z-index: 5 !important;
}
